body {
    margin: 0;
    font-family: "Quicksand", sans-serif;
  }

  :root {
    --very-light-pink: #c7c7c7;
    --white: #ffffff;
    --text-input-field: #f7f7f7;
    --black: #000000;
    --hospital-green: #acd9b2;
    --dark: #232830;

    --lg: 18px;
    --md: 16px;
    --sm: 14px;
  }

  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    margin: 0;
  }

  .position {
    width: 90%;
    display: flex;
    flex-direction: column;
  }
  .logo {
    width: 200px;
    align-self: center;
    margin-bottom: 48px;
  }

  .form {
    display: flex;
    flex-direction: column;
    gap: 8px;
    width: 100%;
    max-width: 400px;
  }

  .form label {
    font-size: var(--md);
    font-weight: bold;
  }

  .form .email {
    background-color: var(--text-input-field);
    color: var(--very-light-pink);
    border: none;
    border-radius: 10px;
    font-size: var(--sm);
    padding: 10px;
  }

  .form .pwd {
    background-color: var(--text-input-field);
    color: var(--very-light-pink);
    border: none;
    border-radius: 10px;
    font-size: var(--sm);
    padding: 10px;
  }

  .form .primary-button {
    background-color: var(--hospital-green);
    color: var(--white);
    border: none;
    border-radius: 10px;
    font-size: var(--lg);
    padding: 15px;
    margin-top: 30px;
  }

  .link {
    text-align: center;
    color: var(--hospital-green);
    text-decoration: none;
    margin-top: 25px;
    font-size: var(--sm);
  }

  .secundary-button {
    background-color: var(--white);
    color: var(--hospital-green);
    border-radius: 10px;
    border-style: solid;
    border-color: var(--hospital-green);
    font-size: var(--lg);
    padding: 15px;
  }

  .sign-up {
    position: absolute;
    top: calc(100vh - 60px);
    width: 90%;
    max-width: 400px ;
  }
